In [ ]:
import pandas as pd
from pathlib import Path

RAW = Path("../data/raw")
basics = pd.read_csv(
    RAW/"title.basics.tsv",
    sep="\t",
    na_values="\\N",
    usecols=["tconst","titleType","primaryTitle","startYear","genres"],
    nrows=10_000   # nur die ersten 10Â 000 Zeilen
)
ratings = pd.read_csv(
    RAW/"title.ratings.tsv",
    sep="\t",
    
)

print("Basics:", basics.shape)
print("Ratings:", ratings.shape)
display(basics.head())
display(ratings.head())

Basics: (10000, 5)
Ratings: (10000, 3)

,tconst,titleType,primaryTitle,startYear,genres
0,tt0000001,short,Carmencita,1894.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,1892.0,"Animation,Short"
2,tt0000003,short,Poor Pierrot,1892.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,1892.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,1893.0,Short

      tconst  averageRating  numVotes
0  tt0000001            5.7      2149
1  tt0000002            5.5       291
2  tt0000003            6.5      2186
3  tt0000004            5.3       187
4  tt0000005            6.2      2932